
.drawingBoard {
    border: solid black 1px;
    padding: 2px;
    width: 960px;
    max-height: 90%;
    display: flex;
    flex-direction: column;
}

.newRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-width: 100%;
    min-height: 100%;
}

.drawDiv {
    flex: 1;
    /* flex-shrink: 0; */
    background-color: aquamarine;
    height: 15px;
    border: solid blueviolet 1px;
    margin: 0.5px;
}

.adjustSizeDiv {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 2px;
}
